.container{
    display: flex;
    height: 100vh;
}
.content{
    margin: auto;
    text-align: center;
    border:1px solid #000000;
    padding: 3rem;
    background-color: burlywood;
    border-radius: 2rem;
    box-shadow: 10px 10px 10px;
}
.button{
    margin-top: 2rem;
    background-color: rgba(13, 92, 24, 1);
    color : #ffffff;
    border : none;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    font-weight: 700;
}
.button:hover{
    background-color:  rgba(13, 92, 24, 0.6);
    color: #000000;
}
.button:active{
    background-color:   rgba(13, 92, 24, 0.3);
}
.button:focus
{
  outline: none; 
  box-shadow: none; 
  /* background-color:  rgba(47, 221, 70, 0.3); */

}

#resultPassword{
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.5rem;
}

